.carouselContainer {
  display: flex;
  justify-content: center; /* 👈 centra horizontal */
  align-items: center;
  width: 100%;
}

.carouselTrack {
  display: flex;
  gap: 1rem;
  justify-content: center; /* centra las cards */
  max-width: 320px; /* ajuste según tamaño de .carouselSlide */
  margin: 0 auto;
}

.carouselSlide {
  width: 100%;
  max-width: 320px; /* ancho real de la card */
  display: flex;
  justify-content: center;
}
.carouselIndicators {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1.2rem;
}

/* DOT BASE */
.carouselIndicator {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 159, 227, 0.25);
  border-radius: 50px;
  border: none;
  cursor: pointer;

  transition:
    all 0.3s ease,
    transform 0.2s ease;
}

/* HOVER */
.carouselIndicator:hover {
  background-color: rgba(0, 159, 227, 0.5);
  transform: scale(1.1);
}

/* ACTIVE (más elegante tipo pill) */
.carouselIndicatorActive {
  width: 28px;
  background: linear-gradient(90deg, #00bfff, #009fe3);
  box-shadow: 0 4px 10px rgba(0, 159, 227, 0.35);
}
