.carouselContainer {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
}

.carouselTrack {
  display: flex;
  gap: 1rem;
  justify-content: center; /* centra las cards */
  max-width: 320px; /* ajuste según tamaño de .carouselSlide */
  margin: 0 auto;
}

.carouselSlide {
  scroll-snap-align: start;
  flex: 0 0 80%;
  max-width: 300px;
}
.carouselIndicators {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1.2rem;
}

/* DOT BASE */
.carouselIndicator {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 159, 227, 0.25);
  border-radius: 50px;
  border: none;
  cursor: pointer;

  transition:
    all 0.3s ease,
    transform 0.2s ease;
}

/* HOVER */
.carouselIndicator:hover {
  background-color: rgba(0, 159, 227, 0.5);
  transform: scale(1.1);
}

/* ACTIVE (más elegante tipo pill) */
.carouselIndicatorActive {
  width: 28px;
  background: linear-gradient(90deg, #00bfff, #009fe3);
  box-shadow: 0 4px 10px rgba(0, 159, 227, 0.35);
}
